:local(.blue-button) {
  color: #1EC1F7;
}
:local(.white-button) {
color: #FEFEFE;
}
:div(.app-background) {
  background-color: #FEFEFE;
}
.textAlignCenter{
  text-align: center;
}

/* Light Grey: F1F1F1
Dark Grey: 262626
Blue: 1EC1F7
Light Blue: 68D5F9
Off White: FEFEFE */

/* App Font Family */
* {
  font-family: DM Sans !important;
}

